:root{
    --templado: rgb(236, 218, 146);
    --grisaseo: hsl(228, 12%, 44%);
    --seminaranja: rgb(184, 73, 46);
    --rojiso: hsl(348, 97%, 39%);
}
body{
    font-family: 'Inter', sans-serif;
    margin: 3em;
}
h1{
    font-size: 1.5em;
    font-weight: bold;

}
.container {
    margin-top: 20px;
    background : var(--grisaseo);
}
.coloricon {
    color: var(--rojiso);
    align-items: flex-end;
}

.panel1 {
    background-color: var(--templado);
}

.panel2 {
    background-color: var(--seminaranja);
}